<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="demo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>demo/demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>demo/demo.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 10天 -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.example.demo" level="debug" additivity="false">
        <appender-ref ref="demo"/>
    </logger>

    <logger name="com.example.demo.dao" level="DEBUG" />
    <logger name="com.example.demo.service" level="debug" />

    <logger name="druid.sql.Statement" level="DEBUG" />
    <logger name="druid.sql.ResultSet" level="DEBUG" />
    <logger name="org.apache" level="INFO" />
    <logger name="org.mybatis.spring" level="ERROR" />
    <logger name="org.springframework" level="WARN"></logger>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="o.h" level="WARN"/>
    <root level="INFO">
        <appender-ref ref="demo" />
    </root>

</configuration>
